<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="lab6">
    <test name="Позитивные API тесты">
        <classes>
            <class name="PositiveTests">
                <methods>
                    <include name="GetAllUsers" />
                    <include name="GetUsersWithNames" />
                    <include name="NewUser" />
                    <include name="GetUserWithID" />
                    <include name="PutUserWithID" />
                    <include name="DeleteUserWithID" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Негативные API тесты">
        <classes>
            <class name="NegativeTests"/>
        </classes>
    </test>
</suite>